{% extends 'base.html' %}
{% block body %}
    <div class="container fa-black-tie">
    <div class="card-deck">
  <div class="card text-white bg-dark mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/250px-Anonymous_emblem.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yaşar İsmet Yılmaz</h5>
      <p class="card-text">Bilgisayar Mühendisliği öğrencisiyim.</p>
      <p class="card-text"><small class="text-muted">Full Stack Developer</small></p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/250px-Anonymous_emblem.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mehmet Duygu</h5>
      <p class="card-text">Bilgisayar Mühendisliği öğrencisiyim.</p>
      <p class="card-text"><small class="text-muted">Front and Developer</small></p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/250px-Anonymous_emblem.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nihat Barlin</h5>
      <p class="card-text">Bilgisayar Mühendisliği öğrencisiyim.</p>
      <p class="card-text"><small class="text-muted">Full Stack Developer</small></p>
    </div>
  </div>
    <div class="card text-white bg-dark mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/250px-Anonymous_emblem.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ahmet Reçber</h5>
      <p class="card-text">Bilgisayar Mühendisiyim.</p>
      <p class="card-text"><small class="text-muted">Siber Güvenlik</small></p>
    </div>
  </div>
</div>
        </div>

    <style>
    .card {
  opacity: 0.9;
}

.card:hover {
  opacity: 1.0;
}
html {
    background-color: #4C1A1D;
}
.container{
    background-color: #4C1A1D;
    text-align: center;
    float: left;
}
    </style>
{% endblock %}